doc/NodeRed/flows.json
[
    {
        "id": "610996708a24f571",
        "type": "tab",
        "label": "Service check",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7826d41df41d98b3",
        "type": "tab",
        "label": "Kafka pub_sub",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bfddf44c.37bfe8",
        "type": "kafka-broker",
        "name": "INTRA",
        "hosts": "static.180.8.203.116.clients.your-server.de:9093,static.194.8.203.116.clients.your-server.de:9093,static.240.8.203.116.clients.your-server.de:9093",
        "selfsign": true,
        "usetls": true,
        "cacert": "/var/kafka_certificateroot/certificateroot.pem",
        "clientcert": "/var/kafka_certificate/certificate.pem",
        "privatekey": "/var/kafka_key/my.key",
        "passphrase": ""
    },
    {
        "id": "20e4c4db28023d01",
        "type": "inject",
        "z": "610996708a24f571",
        "name": "test credentials",
        "props": [
            {
                "p": "endpoint",
                "v": "192.168.70.13:30288",
                "vt": "str"
            },
            {
                "p": "user",
                "v": "august",
                "vt": "str"
            },
            {
                "p": "pass",
                "v": "august",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "x": 140,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "a2638810c2eca45c",
        "type": "function",
        "z": "610996708a24f571",
        "name": "authentication",
        "func": "msg.headers = {};\nvar userpass = Buffer.from(msg.user + ':' + msg.pass).toString(\"base64\");\nmsg.headers['Authorization'] = 'Basic ' + userpass;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 80,
        "wires": [
            [
                "cc36f45f2a5d80b6"
            ]
        ]
    },
    {
        "id": "cc36f45f2a5d80b6",
        "type": "http request",
        "z": "610996708a24f571",
        "name": "check sla-violations",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{endpoint}}/api/sla-violations",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 620,
        "y": 20,
        "wires": [
            [
                "a551b91df8aef8b6"
            ]
        ]
    },
    {
        "id": "a551b91df8aef8b6",
        "type": "json",
        "z": "610996708a24f571",
        "name": "convert to json",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 640,
        "y": 80,
        "wires": [
            [
                "b5819bf2c3a49e05"
            ]
        ]
    },
    {
        "id": "f54451fa03b8d64e",
        "type": "trigger",
        "z": "610996708a24f571",
        "name": "repeat every 5s",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "date",
        "duration": "-5",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "stop",
        "bytopic": "all",
        "topic": "user",
        "outputs": 1,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "a2638810c2eca45c"
            ]
        ]
    },
    {
        "id": "40e410913988ef5e",
        "type": "inject",
        "z": "610996708a24f571",
        "name": "stop",
        "props": [
            {
                "p": "reset",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "f54451fa03b8d64e"
            ]
        ]
    },
    {
        "id": "0b26019ea4e689f0",
        "type": "inject",
        "z": "610996708a24f571",
        "name": "start",
        "props": [
            {
                "p": "endpoint",
                "v": "192.168.70.13:30288",
                "vt": "str"
            },
            {
                "p": "user",
                "v": "august",
                "vt": "str"
            },
            {
                "p": "pass",
                "v": "august",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "f54451fa03b8d64e"
            ]
        ]
    },
    {
        "id": "57165f775d6de486",
        "type": "debug",
        "z": "610996708a24f571",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "b5819bf2c3a49e05",
        "type": "function",
        "z": "610996708a24f571",
        "name": "get sla service name",
        "func": "msg.payload = msg.payload[0].sla.service.name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 140,
        "wires": [
            [
                "57165f775d6de486"
            ]
        ]
    },
    {
        "id": "3523a4fe3adb078d",
        "type": "http in",
        "z": "610996708a24f571",
        "name": "webhook",
        "url": "/webhook",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "e908a841ef51736c",
                "8b9cb7251ca35c50"
            ]
        ]
    },
    {
        "id": "8b9cb7251ca35c50",
        "type": "debug",
        "z": "610996708a24f571",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload.serviceID",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "e908a841ef51736c",
        "type": "http response",
        "z": "610996708a24f571",
        "name": "done",
        "statusCode": "",
        "headers": {},
        "x": 270,
        "y": 460,
        "wires": []
    },
    {
        "id": "9ec5a8c216cac5d8",
        "type": "http request",
        "z": "610996708a24f571",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://jsonplaceholder.typicode.com/posts/{{post}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 430,
        "y": 720,
        "wires": [
            [
                "cac271f96c21bcac"
            ]
        ]
    },
    {
        "id": "cac271f96c21bcac",
        "type": "debug",
        "z": "610996708a24f571",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.title",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 720,
        "wires": []
    },
    {
        "id": "0adb2fd00a3020e7",
        "type": "inject",
        "z": "610996708a24f571",
        "name": "post id",
        "props": [
            {
                "p": "payload",
                "v": "2",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "06c2946b293d6406"
            ]
        ]
    },
    {
        "id": "06c2946b293d6406",
        "type": "change",
        "z": "610996708a24f571",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "post",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 720,
        "wires": [
            [
                "9ec5a8c216cac5d8"
            ]
        ]
    },
    {
        "id": "e65ae55c3a1c3f21",
        "type": "kafka-producer",
        "z": "7826d41df41d98b3",
        "name": "",
        "broker": "bfddf44c.37bfe8",
        "topic": "configuration_test",
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "attributes": 0,
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "869527f10eae368c",
        "type": "inject",
        "z": "7826d41df41d98b3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "e65ae55c3a1c3f21"
            ]
        ]
    },
    {
        "id": "8c73d725716911a4",
        "type": "kafka-consumer",
        "z": "7826d41df41d98b3",
        "name": "",
        "broker": "bfddf44c.37bfe8",
        "outOfRangeOffset": "earliest",
        "fromOffset": "latest",
        "topic": "configuration_test",
        "groupid": "",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "1af13ca73e86dc3d"
            ]
        ]
    },
    {
        "id": "1af13ca73e86dc3d",
        "type": "debug",
        "z": "7826d41df41d98b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 360,
        "wires": []
    }
]